<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>signinup.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newPassword</servlet-name>
        <servlet-class>passwdCRUD.newPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePassword</servlet-name>
        <servlet-class>passwdCRUD.deletePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePassword</servlet-name>
        <servlet-class>passwdCRUD.updatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPasswords</servlet-name>
        <servlet-class>passwdCRUD.showPasswords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPassword</servlet-name>
        <servlet-class>passwdCRUD.searchPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>signinup.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newPassword</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePassword</servlet-name>
        <url-pattern>/deletePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePassword</servlet-name>
        <url-pattern>/updatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPasswords</servlet-name>
        <url-pattern>/showPasswords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPassword</servlet-name>
        <url-pattern>/searchPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
